.page_header {
  position: relative;

  padding: 50px;
  background: $brand-purple url(/img/logo_drej-mark.svg) 50% 98% no-repeat;

  &:after,
  &:before {
    content: '';
    width: calc( 50% + 7.5px );
    height: 60px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: $brand-purple;

    transform: rotate(5deg);
    transform-origin: 0 0;
  }

  &:after {
    left: auto;
    right: 0;
    transform: rotate(-5deg);
    transform-origin: 100% 0;
  }

  & > h2 {
    font-size: 3.5em;
    line-height: .9em;
    text-align: center;
    width: 90%;
    max-width: 14em;
    margin: 1em auto .5em auto;
    color: #fff;

    a {
      color: $brand-orange;
      text-decoration: none;
    }
  }

  & > h3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.4em;
    color: #fff;
    text-transform: none;
    font-weight: 300;
    text-align: center;
    width: 90%;
    max-width: 25em;
    margin: 0 auto 180px auto;
  }
}


.page_navigation {
  h2 {
    @include ir;
    background: url(/img/ico_hamburger.svg) no-repeat 50% 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
  }
  ul {
    display: none;
  }
}
